.scroll-bg {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 1060px;
    width: 2390px;
    z-index: -1;
    background: #1e2228;
    overflow: hidden;
    &::before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: 
        linear-gradient(180deg, #1e2228 15%, #1e2228d9 50%, #1e2228 90%);
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }
    &__img {
        position: relative;
        height: 280px;
        width: 205px;
        border-radius: 20px;
        overflow: hidden;
        transition: all .5s ease;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        } 
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 85px;
        &:nth-child(1) {
            padding-left: 172px;
            .scroll-bg__img {
                &:nth-child(2) {
                    transform: translateY(-95px);
                }
            }
        }
        &:nth-child(2) {
            .scroll-bg__img {
                &:nth-child(1) {
                    transform: translateY(155px);
                }
                &:nth-child(3) {
                    transform: translateY(-80px);
                }
                &:nth-child(4) {
                    transform: translateY(-160px);
                }
                &:nth-child(5) {
                    transform: translateY(-240px);
                }
                &:nth-child(6) {
                    transform: translateY(-280px);
                }
                &:nth-child(7) {
                    transform: translateY(-340px);
                }
            }
        }
        &:nth-child(3) {
            margin-left: 640px;
            .scroll-bg__img {
                &:nth-child(1) {
                    transform: translateY(-80px);
                }
                &:nth-child(2) {
                    transform: translateY(-160px);
                }
                &:nth-child(3) {
                    transform: translateY(-240px);
                }
                &:nth-child(4) {
                    transform: translateY(-280px);
                }
                &:nth-child(5) {
                    transform: translateY(-340px);
                }
            }
        }
        &:nth-child(4) {
            margin-left: 1645px;
            .scroll-bg__img {
                &:nth-child(1) {
                    transform: translateY(-280px);
                }
            }
        }
    }
}

.all-game {
    position: relative;
    padding-top: 130px;
    margin-bottom: 130px;

    &__container {
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__title-section {
        font-weight: 600;
        font-size: 52px;
        line-height: 60px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        width: 560px;
        margin: 0 auto;
        margin-bottom: 135px;
    }

    &__filter {
        display: flex;
        align-items: center;
        gap: 48px;
        width: 100%;
        margin-bottom: 100px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 48px 72px;
        margin-bottom: 64px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: #222E3C;
        border-radius: 20px;
        overflow: hidden;
        transition: all .5s ease;
        &:hover {
            background: #3482FC;
            transform: translateY(-32px);
            .all-game__img {
                &::before{
                    opacity: 1;
                }
            }
            .all-game__button {
                top: 40%;
                opacity: 1;
            }
        }
    }

    &__img {
        position: relative;
        height: 340px;
        width: 100%;
        &::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba(22, 27, 36, 0.6), rgba(22, 27, 36, 0.6));
            z-index: 2;
            opacity: 0;
            transition: all .5s ease;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 11px 58px;
        text-align: center;
        text-transform: uppercase;   
    }

    &__button {
        display: flex;
        align-items: center;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        color: #1E2228;
        padding: 18px 31.5px;
        background: #F5F5F5;
        border-radius: 8px;
        text-transform: uppercase;
        white-space: nowrap;
        opacity: 0;
        z-index: 3;
        transition: all .5s ease;

    }

    &__full {
        display: inline-flex;
        align-items: center;
        padding: 18px;
        color: #1E2228;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        background: #F5F5F5;
        border-radius: 8px;
    }

    
    .select {
        width: 320px;
    }
}
