.best-decision {
    padding: 92px 0;
    margin-bottom: 130px;
    &--bg {
        position: relative;
        overflow: hidden;
        background: #293B50;
        border-radius: 28px;
        max-width: 1800px;
        margin: 0 auto 130px auto;
        .best-decision__bg {
            position: absolute;
            bottom: -147px;
            left: 140px;
            width: 666px;
            height: 1717px;
            opacity: 0.05;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .best-decision__text {
            color: #98A5B1;
            margin-bottom: 32px;
        }
    }
    &__container {
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 133px;
        position: relative;
    }

    &__col {
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
    }

    &__link {
        padding: 18px;
        color: #F5F5F5;
        text-transform: uppercase;
        text-align: center;
        background: #3482FC;
        border-radius: 8px;
    }

    &__list {
    }
}
.decision-list {
    counter-reset: ol-number;

    &__item {
        position: relative;
        padding-left: 114px;
        padding-bottom: 48px;
        border-bottom: 1px solid #6F6F6F;
        &:not(:first-child) {
            padding: 48px 0;
            padding-left: 114px;
            &::before {
                top: 48px;
            }
        }
        &::before {
            content: '0'counter(ol-number);
            counter-increment: ol-number;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 600;
            font-size: 36px;
            line-height: 46px;
            color: #98A5B1;
            opacity: 0.5;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: #98A5B1;
    }
}
