.invite {
    position: relative;
    margin-bottom: 130px;
    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        max-width: 1800px;
        width: 100%;
        background: #293B50;
        border-radius: 28px;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__container {
    }

    &__body {
        padding: 92px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 16px;
        max-width: 630px;
        text-align: center;
        h2 {
            line-height: 46px;
        }
    }

    &__text {
        color: #98A5B1;
        max-width: 605px;
        font-size: 18px;
        margin-bottom: 48px;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    &__item {
        display: grid;
        grid-template-areas:
            "A B"
            "C B"
            "D B";
        gap: 16px;
        padding: 32px;
        border-radius: 20px;
        background: #1E2228;
        position: relative;
        overflow: hidden;
    }

    &__item-bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 60%;
        opacity: .5;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__img {
        width: 255px;
        height: 225px;
        grid-area: B;
        position: relative;
        z-index: 2;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__item-title {
        text-transform: uppercase;
    }

    &__item-text {
        font-size: 16px;
        line-height: 24px;
        color: #98A5B1;
    }

    &__btn {
        display: inline-flex;
        justify-self: flex-start;
        align-items: center;
        padding: 18px 24px;
        text-transform: uppercase;
        background: #F5F5F5;
        border-radius: 8px;
        color: #1E2228;
    }
}
